@charset "UTF-8";

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-8Heavy';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

.noto_fonts {display: inline-block; font-family: 'Noto Sans KR' , sans-serif !important;}
.bar_list > li {margin-bottom:3px; padding-left:13px; background: url('../images/bull/bull_bar.jpg') 0px 9px no-repeat; }
.bar_list > li:last-child {margin-bottom:0 !important;}
.dot_list > li {margin-bottom:3px; padding-left:13px; background: url('../images/bull/bull_dot.jpg') 2px 7px no-repeat; }
.dot_list > li:last-child {margin-bottom:0 !important;}


/* loading_wrap */
.loading_wrap {z-index: 9999; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000;}
.loading {z-index: 9999; position: fixed; top: 50%; width: 300px; left: 50%; margin-left: -150px; height: 3px;
  background: rgba(255,255,255,.1);}  
.loading:before {animation: progress1 4s infinite; transform-origin: 0 0; content: ""; display: block; width: 300px;
    height: 100%; background: linear-gradient(to right, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.4) 80%, rgba(255,255,255,1));
  }
.loading:after {content: ""; position: absolute; animation: progress2 4s infinite; transform-origin: 90% 50%;
    margin-left: -24px; top: -9px; width: 30px; height: 21px; border-radius: 2px; background: rgba(210,189,255,.55);
    filter: blur(8px); box-shadow: 0 0 10px 6px rgba(210,189,255,.4), -20px 0 15px 4px rgba(210,189,255,.3), -40px 0 15px 2px rgba(210,189,255,.2), -60px 0 10px 1px rgba(210,189,255,.1), -80px 0 10px 1px rgba(210,189,255,.05);}
.examples__item{position: fixed; top: 50%; left: 50%; margin-top: -25px; margin-left: -15px;}
.loader{display: flex; height: 30px; width: 30px;}
.example-3{flex-direction: row; justify-content: space-around; align-items: center; flex-wrap: nowrap;}
.loader-3{background: #fff; border-radius: 50%; height: 10px; width: 10px; animation: example-3 1.5s cubic-bezier(.41,.25,.32,.83) infinite;}
.loader-3:nth-of-type(2){animation: example-3 1.5s cubic-bezier(.41,.25,.32,.83)  .2s infinite;}
.loader-3:nth-of-type(3){animation: example-3 1.5s cubic-bezier(.41,.25,.32,.83) .4s  infinite;}

@keyframes example-3 {
    0%{ opacity: .25; }
    100%{ opacity: 1; }
}


/* section */
.section {overflow: hidden !important;}
.section > .container {height: 100%;}

/* section1 */
.section1 {position: relative;}
.section1 .trigger1 {position: absolute; left: 0; top: 50%}
.section1 .con_box {display: block; width: 100%; height: 100%; /* padding: 25px 0; */}
.section1 .box {float: left; display: table; height: 100%; }
.section1 .va_m {display: table-cell; width: 100%; height: 100%; vertical-align: middle;}
.section1 .greet {width: 100%; text-align: center;} 
.section1 .greet .greet_txt {font-family: 'S-CoreDream-3Light' ,  sans-serif !important; font-size: 2.2em; letter-spacing: 2px;} 
.section1 .greet .highlight {display: inline-block; animation: changeColor   3s ease infinite; -webkit-animation: changeColor   3s ease infinite; -moz-animation: changeColor   3s ease infinite;  -ms-animation: changeColor   3s ease infinite;}
.section1 .greet .scroll_show {transform: 0; opacity: 0;}
.section1 .down_arr_box {display: none; position: absolute; bottom: 40px; left: 50%; margin-left: -11.5px; text-align: center; 
-webkit-animation: arr_move 3s infinite; -o-animation: arr_move 3s infinite; animation: arr_move 3s infinite;} 
.section1 .down_arr_box span {display: block; font-size: 0.55em; padding-top: 3px;}
.section1 .stars, .twinkling, .clouds {position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;}
.section1 .stars {display: block; z-index: 0; background: #000 url("../images/main/stars.png") repeat top center;}
.section1 .twinkling{z-index: 0; background: transparent url("../images/main/twinkling.png") repeat top center;
  -moz-animation:move-twink-back 400s linear infinite;
  -ms-animation:move-twink-back 400s linear infinite;
  -o-animation:move-twink-back 400s linear infinite;
  -webkit-animation:move-twink-back 400s linear infinite;
  animation:move-twink-back 400s linear infinite;
}

.parallax {position: absolute;right: 10%;top: 10%;overflow: hidden;width: 150px;height: 150px;border-radius: 50%;box-shadow: 0 0 160px 0px #a78a9e, 0 0 30px -4px #ac8db4, 0 0 8px 2px rgb(178 151 176);background: rgb(178 151 176);}

div#sec1_animate1 {}
.par {position: absolute; width: 150px; height: 150px; background-repeat: no-repeat; background-position: center center;}
.layer1 {left: auto; right: 0; top: 0; /* margin-left:  -150px; margin-top: -150px; */ background-image:  url("../images/main/moon.png"); background-size: 167px 167px; border-radius: 50%;}



/* .section1 .clouds{z-index:3; background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  -moz-animation:move-clouds-back 300s linear infinite;
  -ms-animation:move-clouds-back 300s linear infinite;
  -o-animation:move-clouds-back 300s linear infinite;
  -webkit-animation:move-clouds-back 300s linear infinite;
  animation:move-clouds-back 300s linear infinite;
} */


/* section1 shutter */
.section1 .shutter {z-index: 9999; display: none; position: absolute; top: 0; left: -40%; width: 300%; height: 300%; opacity: 0.6;}
.section1 .shutter {transform: rotate(45deg);}
.section1 .shutter:before,
.section1 .shutter:after {content: ""; position: absolute; left: 0; width: 100%; height: 100%; background-color: #fff;}
.section1 .shutter:before {bottom: 300%; animation: shutterT 4.5s;}
.section1 .shutter:after {top: 300%; animation: shutterB 4.5s;} 



/* section2 */
.section2 {position: relative; /* background: linear-gradient(180deg, #000000, #0b0646 , #24085c, #170347); */
background:radial-gradient(200% 100% at bottom center,#F7F7B6,#E96F92,#75517D,#1B2947); 
  background:radial-gradient(220% 105% at top center,#000000 22%,#75517D 40%,#E96F92 65%,#F7F7B6); }
.section2 #trigger2 {position: absolute; top: 20%; left: 0;}
.section2  .bg_txt {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.section2  .bg_txt .txt {position: absolute; display: inline-block; color: #fff4d7; font-size: 1.8em;  font-family: "S-CoreDream-3Light" , sans-serif !important;}
.section2  .bg_txt .txt:nth-child(1) {top: 130px; left: 70px; transform: rotate(-90deg);}
.section2  .bg_txt .txt:nth-child(2) {bottom: 250px; right: 70px; transform: rotate(90deg);}

.section2 .skill_box {display: table; position: absolute; top: 50%; left: 50%; width: 150px; height: 150px; margin-top: -75px; margin-left: -75px; border-radius: 8px; background: #fff; font-family: "Raleway" , sans-serif !important;}
.section2 .skill_box > p {display: table-cell; color: #000; vertical-align: middle; text-align: center; font-size: 1.5em; font-weight: 600; }
.section2  .skill_list_box .each_box {display: table; position: absolute; top: 50%; left: 50%; width: 130px; height: 130px;	border-radius: 8px;  box-shadow: 5px 5px 30px 10px rgb(0 0 0 / 10%); }
.section2  .skill_list_box .each_box a.view_more {display: table; width: 100%; height: 100%;}

.section2  .skill_list_box .each_box:nth-child(1) {top: 10%; left: 30%; margin-top: 0; margin-left: 0; background: #ffbf57; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(2) {top: 15%; left: 60%; margin-top: 0; margin-left: 0; background: #44c4ff; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(3) {top: 40%; left: 10%; margin-top: 0; margin-left: 0; background: #f7e018; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(4) {top: 38%;left: 48%;margin-top: 0;margin-left: 0;background: #ff2d8d; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(5) {top: 40%;left: 83%;margin-top: 0;margin-left: 0;background: #5f41ff; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(6) {top: 65%; left: 30%; margin-top: 0; margin-left: 0; background: #9cc0ed; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(7) {top: 60%;left: 66%;margin-top: 0;margin-left: 0;background: #4fc109; transition: all 0.6s;}

.section2  .skill_list_box .each_box:nth-child(1):hover {box-shadow: 0 0 25px #ffbf57; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(2):hover {box-shadow: 0 0 25px #44c4ff; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(3):hover {box-shadow: 0 0 25px #f7e018; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(4):hover {box-shadow: 0 0 25px #ff2d8d; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(5):hover {box-shadow: 0 0 25px #5f41ff; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(6):hover {box-shadow: 0 0 25px #9cc0ed; transition: all 0.6s;}
.section2  .skill_list_box .each_box:nth-child(7):hover {box-shadow: 0 0 25px #4fc109; transition: all 0.6s;}

.section2  .skill_list_box .each_box:nth-child(1).on {box-shadow: 0 0 25px #ffbf57;}
.section2  .skill_list_box .each_box:nth-child(2).on {box-shadow: 0 0 25px #44c4ff;}
.section2  .skill_list_box .each_box:nth-child(3).on {box-shadow: 0 0 25px #f7e018;}
.section2  .skill_list_box .each_box:nth-child(4).on {box-shadow: 0 0 25px #ff2d8d;}
.section2  .skill_list_box .each_box:nth-child(5).on {box-shadow: 0 0 25px #5f41ff;}
.section2  .skill_list_box .each_box:nth-child(6).on {box-shadow: 0 0 25px #9cc0ed;}
.section2  .skill_list_box .each_box:nth-child(7).on {box-shadow: 0 0 25px #4fc109;}

.section2  .skill_list_box .each_box .tit span.icon {display: block; width: 60px; margin: 0 auto 7px auto;} 
.section2  .skill_list_box .each_box .tit {display: table-cell; position: relative; top: 0; left: 0; color: #fff; vertical-align: middle; text-align: center; font-size: 1.2em; font-weight: 600; transition: all 0.3s;}
.section2  .skill_list_box .each_box .tit.on {opacity: 0; position: relative; top: 30px; left: 0;  transition: all 0.3s;}
.section2  .skill_list_box .each_box .after_click {opacity: 0; display: table; position: absolute; top: -20px; left: 0; width: 100%; height: 100%; transition: all 0.3s;}
.section2  .skill_list_box .each_box .after_click.on {opacity: 1; display: table; position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: all 0.3s;}
.section2  .skill_list_box .each_box .after_click .num {position: relative; top: 0; left: 0; display: table-cell; width: 100%; height: 100%; vertical-align: middle; text-align: center; font-size: 2em; font-weight: 600; color: #fff;}
.section2  .skill_list_box .each_box .txt_wrap {z-index: -1; opacity: 0; display: block; position: absolute; bottom: -50px; left: 50%; margin-left: -250px; width: 500px; text-align: center; color: #fff; transition: all 0.3s;}
.section2  .skill_list_box .each_box .txt_wrap.on {opacity: 1; display: block; position: absolute; bottom: -50px; left: 50%; margin-left: -250px; width: 500px; text-align: center; color: #fff; transition: all 0.3s;}
.section2 .skill_list_box .each_box:nth-child(4) .txt_wrap.on {bottom: -70px;}



/* section3 */
.section3 {height: auto !important ; /* background:radial-gradient(220% 105% at top center,#f6e6b2 15%,#ffffff 40%,#f6f0d3 10%,#ffffff 40%); color: #333; */
background: radial-gradient(220% 105% at top center, #f6e6b2 15%, #ffffff 36%, #ece2ed 85%, #ffc4c4 100%);}
.section3 .work_list_box {padding-top: 50px;}
.section3 .type_box {margin-bottom: 35px; text-align: center;}
.section3 .type_box .type_list {display: inline-block; }
.section3 .type_box .type_list > li {position: relative; float: left; margin-right: 25px;}
.section3 .type_box .type_list > li:last-child {margin-right: 0; padding-right: 0;}
.section3 .type_box .type_list > li > a {color: #b4b4b4;  transition: all 0.7s ease;}
.section3 .type_box .type_list > li > a.on , .section3 .type_box .type_list > li > a:hover {color: #333333; transition: all 0.5s ease;}
.section3 .grid { width: 100% }
.section3 .grid-sizer, .grid-item {position: relative; width: 31%; }
.section3 .grid-item {margin-bottom: 30px; border-radius: 10px; overflow: hidden;}
.section3 .grid-item .each_work img {display: block; min-width: 100%; max-width: 100%; transform: scale(1,1); transition: all 3s;}
.section3 .grid-item .each_work:hover img {transform: scale(1.3,1.3);  transition: all 3s;}
.section3 .grid-item .each_work {display: block; position: relative; transition: all 0.6s;}
.section3 .grid-item .each_work:after {content:""; display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.8; transition: all 2s;}
.section3 .grid-item .each_work:hover:after {content:""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.8; transition: all 2s;}
.section3 .grid-item .each_work .brief_view_wrap {z-index: 3; display: none; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 20px 50px; word-break: keep-all;  color: #fff; /* font-family: "S-CoreDream-3Light" , sans-serif !important; */}
.section3 .grid-item .each_work .brief_view_wrap .tit {font-size: 1.3em; font-weight: 600; margin-bottom: 25px;}
.section3 .grid-item .each_work .brief_view_wrap .tit  span {display: block; margin-top: 3px; font-size: 85%; font-weight: 400; }
.section3 .grid-item .each_work .brief_view_wrap .tech_wrap {/* padding: 10px; */ margin-bottom: 15px; /* border: 1px solid #9b9b9b; */}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li {position: relative; float: left; width: 100px; margin-right: 10px; margin-bottom: 4px; padding-left: 20px; font-size: 0.9em;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li.off {display: none; color: #424242;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li i {position: absolute; top: 2.5px; left: 0; font-size: 1em;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li:before {z-index: 0; content:""; display: block; position: absolute; top: 50%; left: 0; width: 15px; height: 15px; margin-top: -7.5px;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li:nth-child(1):before {background: #dd512a;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li:nth-child(2):before {background: #44c4ff;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li:nth-child(3):before {background: #f7e018;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li:nth-child(4):before {background: #ff2d8d;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li:nth-child(5):before {background: #9cc0ed;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li:nth-child(6):before {background: #a800ff;}
.section3 .grid-item .each_work .brief_view_wrap .tech_list > li.off:before {background: #424242;}

.section3 .grid-item .each_work .brief_view_wrap .part {position: relative; margin-bottom: 25px; padding-left: 50px; word-break: keep-all;}
.section3 .grid-item.type3 .each_work .brief_view_wrap .part {position: relative; margin-bottom: 15px; padding-left: 65px;}
.section3 .grid-item .each_work .brief_view_wrap .part span {position: absolute; top: 0; left: 0; }

.section3 .grid-item .each_work .brief_view_wrap .btn_box a {display: inline-block; width: 122px; padding: 7px; margin-right: 15px; text-align: center; font-size: 0.9em; color: #fff; border: 1px solid #9b9b9b; background-image: linear-gradient(-152deg, #fff, #fff 50%, transparent 50%, transparent); background-size: 100% 500%; background-position: bottom; transition: all 0.7s ease;}
.section3 .grid-item .each_work .brief_view_wrap .btn_box a:hover {background-position: top; color: #000;}
.section3 .grid-item .each_work .brief_view_wrap .btn_box a:last-child {margin-right: 0;}





/* section4 */
.section4 {position: relative; padding-bottom: 78px;	
background: linear-gradient(to bottom, #facccf 17%, #ffc6de 31%, #ffc6db 58%, #c2bdcf 100%);  

}
.section4 .container {display: table; width: 100%; height: 100%;}
.section4 .container .about_wrap {display: table-cell; width: 100%; height: 100%; vertical-align: middle;}
.section4 .lottery_box {/* z-index: -2; */ position: relative; width: 100%; padding: 15px; background: #9f3ec9; border-radius: 20px;}
.section4 .lottery_box:after {/* z-index: -1; */ content:""; display: block; position: absolute; top: 15px; left: 15px; width: calc( 100% - 36px ); height: calc( 100% - 36px ); border-radius: 20px; border: 3px solid #fcf400;}
.section4 .lottery_wrap {/* display: none; */ width: 100%; height: 100%; padding: 12px;}
.section4 .lottery_wrap .con {width: 100%; height: 100%; padding: 25px; border-radius: 20px; border: 6px solid #700285; background: url('../images/main/star_bg.png') repeat top 4px left 4px; -webkit-background-size: 23px; background-size: 23px;}
.section4 .lottery_wrap .con .left_box {width: 33%; padding-right: 2%; display: table; text-align: center;}
.section4 .lottery_wrap .con .left_box .va_m {display: table-cell; width: 100%; height: 100%; vertical-align: middle;}
.section4 .lottery_wrap .con .right_box {width: 67%; padding: 0 50px;}
.section4 .lottery_wrap .con .left_box .tit {font-size: 3em; font-weight: 900; color: #fcf400; font-family: 'SEBANG_Gothic_Bold' ,  sans-serif !important; /* -webkit-text-stroke: 1px #f55f0a; */ text-shadow:2px 0 0 #f55f0a,0 2px 0 #f55f0a,-2px 0 0 #f55f0a,0 -2px 0 #f55f0a;}
.section4 .lottery_wrap .con .left_box .tit i {display: inline-block; font-size: 60%;}
.section4 .lottery_wrap .con .left_box .img_box {margin: 20px 0;}
.section4 .lottery_wrap .con .left_box .img_box img {width: 310px;}
.section4 .lottery_wrap .con .left_box .txt_box {font-weight: 900; color: #fff; font-size: 2.7em;font-family: 'SEBANG_Gothic_Bold' ,  sans-serif !important; text-shadow:2px 0 0 #f55f0a,0 2px 0 #f55f0a,-2px 0 0 #f55f0a,0 -2px 0 #f55f0a;}
.section4 .lottery_wrap .con .left_box, .section4 .lottery_wrap .con .right_box {position: relative; z-index: 3; float: left;}
.section4 .lottery_wrap .con .right_box .scratch_list li {position: relative; display: table; width: 100%; height: 100%; padding: 15px 10px; margin-bottom: 25px; text-align: center; font-family: 'S-CoreDream-3Light' ,  sans-serif !important; font-weight: 600; background: #f7f7f7; overflow: hidden !important;}
.section4 .lottery_wrap .con .right_box .scratch_list li:last-child {margin-bottom: 0 !important;}
.section4 .lottery_wrap .con .right_box .scratch_list li .txt {position: relative; top: 10px; display: table-cell; width: 100%; height: 100%; vertical-align: middle; color: #333; line-height: 130%; opacity: 0; word-break: keep-all;}
.section4 .lottery_wrap .con .right_box .scratch_list li .scratch_area {position: absolute; top: 0; right: 0; width: 100%; height: 100%; background-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
cursor: pointer;}
.section4 .lottery_wrap .con .right_box .scratch_list li:first-child .cursor {position: absolute; top: 5%; left: 50%; margin-left: -110px; font-weight: 600;}
.section4 .lottery_wrap .con .right_box .scratch_list li:first-child .cursor img {width: 35px; cursor: pointer;
  animation: crescendo 1.5s alternate infinite ease-in;}
.section4 .lottery_wrap .con .right_box .scratch_list li:first-child .cursor:after {content:"클릭하여 복권을 긁어주세요!"; display: block; position: absolute; top: 15px; left: 40px; width: 220px; text-transform: uppercase; cursor: pointer;
  color: transparent; background: linear-gradient(to right,#ae63e4, #ba00bd, #e23b4a, #db0768, #360670);
  background-size: 250px 100%; animation: text_bg 5s linear infinite; background-clip: text; -webkit-background-clip: text;}

.is-ie .section4 .lottery_wrap .con .right_box .scratch_list li:first-child .cursor:after {content:"클릭하여 복권을 긁어주세요!"; display: block; position: absolute; top: 15px; left: 40px; width: 220px; text-transform: uppercase; cursor: pointer;
  color: #ba00bd; background: transparent;}




/* modal_box */
.modal_box {display: none; z-index: 9999; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8);}
.modal_box .modal_wrap {position: absolute; top: 50%; left: 50%; margin-left: -200px; margin-top: -100px; width: 400px; height: 200px; transform: scale(0); transition: all 0.3s ease-in-out;}
.modal_box .modal_wrap.on {position: absolute; top: 50%; left: 50%; margin-left: -200px; margin-top: -100px; width: 400px; height: 200px; transform: scale(1); transition: all 0.3s ease-in-out;}
.modal_box .modal_wrap .inner {padding: 30px; background: #fff; border-radius: 10px;}
.modal_box .modal_wrap .inner .txt {font-family: 'S-CoreDream-8Heavy' ,  sans-serif !important; font-size: 1.75em; font-weight: 600; color: #333; text-align: center; word-break: keep-all; line-height: 150%;}
.modal_box .modal_wrap .inner .txt span {display: inline-block; animation: changeColor   3s ease infinite; -webkit-animation: changeColor   3s ease infinite; -moz-animation: changeColor   3s ease infinite;  -ms-animation: changeColor   3s ease infinite;}
.modal_box .modal_wrap .btn_wrap {text-align: center;}
.modal_box .modal_wrap .btn_wrap .yes_btn {display: inline-block; width: 150px; padding: 7px; font-size: 1.1em; font-weight: 600; text-align: center; letter-spacing: 1px; background: red; color: #fff; border-radius: 5px;}
.modal_box .modal_wrap .btn_wrap .yes_btn:first-child {margin-right: 20px; background: #3fc3ec;}
.modal_box .modal_wrap .btn_wrap a:last-child {background: #ff7e35;}

.modal_box .modal_wrap .btn_wrap .yes_btn:hover span {display: inline-block; animation: wave-text 0.7s ease-in-out infinite;}
.modal_box .modal_wrap .btn_wrap .yes_btn:hover span:nth-child(1){ animation-delay: 0.0s; }
.modal_box .modal_wrap .btn_wrap .yes_btn:hover span:nth-child(2){ animation-delay: 0.1s; }
.modal_box .modal_wrap .btn_wrap .yes_btn:hover span:nth-child(3){ animation-delay: 0.2s; }

.modal_box .modal_wrap .inner2 {display: none;}
.modal_box .modal_wrap .inner2 .txt {color: #fa0;}
.modal_box .modal_wrap .inner2 .contact_box {margin-top: 25px;}
.modal_box .modal_wrap .inner2 a {display: block; text-align: center; font-size: 1.125em; font-weight: 600; transition: all 0.3s;}
.modal_box .modal_wrap .inner2 a:hover {color: #fa0; transition: all 0.3s;}
.modal_box .modal_wrap .inner2 a:first-child {margin-bottom: 10px;}

.modal_box .modal_wrap .close_wrap {display: none; opacity: 0; position: absolute; top: 0; left: 50%; margin-left: -20px; width: 40px; height: 40px; border-radius: 50%; background: red;}
.modal_box .modal_wrap .close_wrap button {width: 100%; height: 100%;}
.modal_box .modal_wrap .close_wrap button i {font-size: 40px; color: #fff;}

/* .section4 .about_wrap {display: table; width: 100%; height: 100%;}
.section4 .about_wrap .img_box {display: table-cell; width: 45%; height: 100%; vertical-align: middle;}
.section4 .about_wrap .img_box .img {width: 100%; max-width: 300px; height: 380px; margin: 0 auto; border-radius: 7px; background: url("../images/main/profile2.jpg") no-repeat center top -30px; background-size: 300px auto;}
.section4 .about_wrap .txt_box {display: table-cell; width: 55%; height: 100%; vertical-align: middle;}
.section4 .about_wrap .about_list_wrap li {position: relative; left: 0; padding-left: 30px; font-family: 'S-CoreDream-3Light' ,  sans-serif !important; font-size: 1.65em; color: #90a8cb; margin-bottom: 30px;}
.section4 .about_wrap .about_list_wrap li:last-child {margin-bottom: 0;}
.section4 .about_wrap .about_list_wrap li .sm_t {position: absolute; top: 7px; left: 0; font-size: 70%;} */




/* keyframes */
@keyframes shutterT { 0% {bottom:50%;}  100% {bottom:220%;} }
@keyframes shutterB { 0% {top:50%;}  100% {top:220%;} }
@keyframes bounce { 0% {transform:translateY(0);}  50% {transform:translateY(-10px);}  100% {transform:translateY(0);} }
@keyframes arr_move {0% {bottom: 40px;} 50% {bottom: 30px;} 100% {bottom: 40px;}}

@keyframes move-twink-back {from {background-position:0 0;} to {background-position:-10000px 5000px;}}
@-webkit-keyframes move-twink-back {from {background-position:0 0;} to {background-position:-10000px 5000px;}}
@-moz-keyframes move-twink-back {from {background-position:0 0;} to {background-position:-10000px 5000px;}}
@-ms-keyframes move-twink-back {from {background-position:0 0;} to {background-position:-10000px 5000px;}}

@keyframes move-clouds-back {from {background-position:0 0;} to {background-position:10000px 0;}}
@-webkit-keyframes move-clouds-back {from {background-position:0 0;} to {background-position:10000px 0;}}
@-moz-keyframes move-clouds-back {from {background-position:0 0;} to {background-position:10000px 0;}}
@-ms-keyframes move-clouds-back {from {background-position: 0;} to {background-position:10000px 0;}}

@keyframes shake {0% {-webkit-transform: rotateZ(5deg); transform: rotateZ(5deg); } 100% {-webkit-transform: rotateZ(-5deg); transform: rotateZ(-5deg); } }
@-webkit-keyframes shake {0% {-webkit-transform: rotateZ(5deg); } 100% {-webkit-transform: rotateZ(-5deg); } }
@-moz-keyframes shake {0% {-moz-transform: rotateZ(5deg); } 100% {-moz-transform: rotateZ(-5deg); } }
@-ms-keyframes shake {0% {-o-transform: rotateZ(5deg); } 100% {-o-transform: rotateZ(-5deg); } }

@keyframes floating {0% { transform: translate(0,  0px); } 50%  { transform: translate(0, 15px); } 100%   { transform: translate(0, -0px); }} 
@-webkit-keyframes floating {0% { transform: translate(0,  0px); } 50%  { transform: translate(0, 15px); } 100%   { transform: translate(0, -0px); }} 
@-moz-keyframes floating {0% { transform: translate(0,  0px); } 50%  { transform: translate(0, 15px); } 100%   { transform: translate(0, -0px); }} 
@-ms-keyframes floating {0% { transform: translate(0,  0px); } 50%  { transform: translate(0, 15px); } 100%   { transform: translate(0, -0px); }} 

@keyframes changeColor {0% {color: #ff5583;} 25% {color: #cc91ff;} 50% {color: #60aaff;} 75% {color: #9eff7b;} 100% {color: #ff5583;}}
@-webkit-keyframes changeColor {0% {color: #ff5583;} 25% {color: #cc91ff;} 50% {color: #60aaff;} 75% {color: #9eff7b;} 100% {color: #ff5583;}}
@-moz-keyframes changeColor {0% {color: #ff5583;} 25% {color: #cc91ff;} 50% {color: #60aaff;} 75% {color: #9eff7b;} 100% {color: #ff5583;}}
@-ms-keyframes changeColor {0% {color: #ff5583;} 25% {color: #cc91ff;} 50% {color: #60aaff;} 75% {color: #9eff7b;} 100% {color: #ff5583;}}

@keyframes text_bg {0% {background-position-x: 0;} 100% {background-position-x: 500px;}}
@-webkit-keyframes text_bg {0% {background-position-x: 0;} 100% {background-position-x: 500px;}}
@-moz-keyframes text_bg {0% {background-position-x: 0;} 100% {background-position-x: 500px;}}
@-ms-keyframes text_bg {0% {background-position-x: 0;} 100% {background-position-x: 500px;}}

@keyframes crescendo {0% {transform: scale(.75);} 100% {transform: scale(1.05);}}
@-webkit-keyframes crescendo {0% {transform: scale(.75);} 100% {transform: scale(1.05);}}
@-moz-keyframes crescendo {0% {transform: scale(.75);} 100% {transform: scale(1.05);}}
@-ms-keyframes crescendo {0% {transform: scale(.75);} 100% {transform: scale(1.05);}}

@keyframes wave-text{0%{transform: translateY(0em);} 60%{transform: translateY(-0.6em);} 100%{transform: translateY(0em);}}
@-webkit-keyframes wave-text{0%{transform: translateY(0em);} 60%{transform: translateY(-0.6em);} 100%{transform: translateY(0em);}}
@-moz-keyframes wave-text{0%{transform: translateY(0em);} 60%{transform: translateY(-0.6em);} 100%{transform: translateY(0em);}}
@-ms-keyframes wave-text{0%{transform: translateY(0em);} 60%{transform: translateY(-0.6em);} 100%{transform: translateY(0em);}}


@keyframes progress1 {
  0% {
    transform: scalex(0);
    opacity: .5;
  }
  90% {
    transform: scalex(1);
    opacity: 1;
  }
  92% {
    transform: scalex(1);
    opacity: 1;
  }
  100% {
    transform: scalex(1);
    opacity: 0;
  }
}

@keyframes progress2 {
  0% {
    transform: scale(.3,.8) translatez(0);
    opacity: 0;
  }
  90% {
    transform: scale(1,1) translatex(300px) translatez(0);
    opacity: 1;
  }
  100% {
    transform: scale(1,1) translatex(300px) translatez(0);
    opacity: 0;
  }
}